<div [ngStyle]="{'margin-bottom':'400px'}">
<br><br>
<h2 [ngStyle]="{'color':'red'}">COURSE component: Author: {{ author }}:{{ storageLoggedin }}</h2>
<p>{{ courseTitle}} works!</p>

<ul>
    <li *ngFor="let topic of courseContent">{{ topic }}</li>
</ul>



<label for="heading-input">Add a course:</label>
<input type="text" id="heading-input" #newParentData>
<button type="button" (click)="newHeading(newParentData.value)">Add</button>

<h3>Sibling component showing same data::::::{{ counterDisplay  }}</h3>
{{ _testService.myData }}
<br><br>
<button (click)="makeRequest()">Get Http Data</button>
<br /><br />

<ul>
    <li *ngFor="let row of serverdata">{{ row.name }}</li>
</ul>
</div>